//! **************************************************************************
// Written by: Map P.20131013 on Sat Feb 22 09:21:40 2020
//! **************************************************************************

SCHEMATIC START;
COMP "clk_n" LOCATE = SITE "AC11" LEVEL 1;
COMP "clk_p" LOCATE = SITE "AB11" LEVEL 1;
COMP "rst_n" LOCATE = SITE "A10" LEVEL 1;
COMP "led_h" LOCATE = SITE "A15" LEVEL 1;
SCHEMATIC END;

